<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3.7.1.0.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522182630.98417002</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>313</integer>
				</dict>
			</dict>
			<key>3.7.1.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522124975.33591998</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>3.7.1.10.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125476.38249201</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>3.7.1.11.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125514.31894398</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>3.7.1.12.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125546.49148101</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>3.7.1.13.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125591.47725499</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>3.7.1.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125070.00979501</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>3.7.1.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125170.14477599</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>3.7.1.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125219.51907003</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>3.7.1.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125267.38152599</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>3.7.1.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125319.29887801</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>3.7.1.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125376.67561799</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>3.7.1.8.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125415.16255701</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>3.7.1.9.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125443.13192701</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>3.7.10.1 - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522550776.285106</real>
				<key>lastModification</key>
				<real>522550776.285106</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>323</integer>
				</dict>
			</dict>
			<key>3.7.10.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522179460.18916601</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>263</integer>
				</dict>
			</dict>
			<key>3.7.10.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>522179715.359016</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>269</integer>
				</dict>
			</dict>
			<key>3.7.10.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>522179782.14016497</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>273</integer>
				</dict>
			</dict>
			<key>3.7.10.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>522180109.22227699</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>277</integer>
				</dict>
			</dict>
			<key>3.7.10.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>522541564.66239399</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>321</integer>
				</dict>
			</dict>
			<key>3.7.10.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>522180612.38263702</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>285</integer>
				</dict>
			</dict>
			<key>3.7.11.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522180697.00331402</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>289</integer>
				</dict>
			</dict>
			<key>3.7.12.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522180822.59939402</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>293</integer>
				</dict>
			</dict>
			<key>3.7.13.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522180862.205293</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>297</integer>
				</dict>
			</dict>
			<key>3.7.13.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>522180936.12147403</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>303</integer>
				</dict>
			</dict>
			<key>3.7.13.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>522180971.247953</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>307</integer>
				</dict>
			</dict>
			<key>3.7.2.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125660.89333397</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>3.7.2.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125817.51684701</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>59</integer>
				</dict>
			</dict>
			<key>3.7.2.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125847.95552301</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>63</integer>
				</dict>
			</dict>
			<key>3.7.3.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125929.05989999</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>3.7.3.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>522125987.10026699</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>3.7.3.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>522126032.33276099</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>3.7.3.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>522126069.41961902</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>79</integer>
				</dict>
			</dict>
			<key>3.7.3.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>522126104.02455002</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>83</integer>
				</dict>
			</dict>
			<key>3.7.3.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>522126157.07499599</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>3.7.4.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522126233.15477699</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>91</integer>
				</dict>
			</dict>
			<key>3.7.4.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>522176040.98479497</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>95</integer>
				</dict>
			</dict>
			<key>3.7.4.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>522176119.87623698</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>99</integer>
				</dict>
			</dict>
			<key>3.7.4.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>522176182.26855099</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>3.7.4.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>522176229.31183499</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>107</integer>
				</dict>
			</dict>
			<key>3.7.5.0.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522373493.71780503</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>317</integer>
				</dict>
			</dict>
			<key>3.7.5.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522176319.82675397</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>111</integer>
				</dict>
			</dict>
			<key>3.7.5.10.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177115.47024798</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>147</integer>
				</dict>
			</dict>
			<key>3.7.5.11.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177182.94928199</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>151</integer>
				</dict>
			</dict>
			<key>3.7.5.12.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177225.42130798</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>155</integer>
				</dict>
			</dict>
			<key>3.7.5.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>522176505.34508002</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>115</integer>
				</dict>
			</dict>
			<key>3.7.5.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>522176631.950149</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>119</integer>
				</dict>
			</dict>
			<key>3.7.5.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>522176679.450625</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>123</integer>
				</dict>
			</dict>
			<key>3.7.5.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>522176719.35114902</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>127</integer>
				</dict>
			</dict>
			<key>3.7.5.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>522176981.43168402</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>131</integer>
				</dict>
			</dict>
			<key>3.7.5.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177010.22199601</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>135</integer>
				</dict>
			</dict>
			<key>3.7.5.8.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177041.40507501</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>139</integer>
				</dict>
			</dict>
			<key>3.7.5.9.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177081.05942899</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>143</integer>
				</dict>
			</dict>
			<key>3.7.6.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177267.10040498</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>159</integer>
				</dict>
			</dict>
			<key>3.7.6.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177333.32585001</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>163</integer>
				</dict>
			</dict>
			<key>3.7.6.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177423.86921501</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>167</integer>
				</dict>
			</dict>
			<key>3.7.6.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177444.452299</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>171</integer>
				</dict>
			</dict>
			<key>3.7.6.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177477.59253198</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>175</integer>
				</dict>
			</dict>
			<key>3.7.6.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177510.929434</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>179</integer>
				</dict>
			</dict>
			<key>3.7.6.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177543.40536302</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>183</integer>
				</dict>
			</dict>
			<key>3.7.6.8.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177597.78015298</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>187</integer>
				</dict>
			</dict>
			<key>3.7.7.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177648.50614798</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>191</integer>
				</dict>
			</dict>
			<key>3.7.7.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177687.24203598</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>195</integer>
				</dict>
			</dict>
			<key>3.7.7.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177723.69666201</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>199</integer>
				</dict>
			</dict>
			<key>3.7.7.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177756.50909102</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>203</integer>
				</dict>
			</dict>
			<key>3.7.7.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177788.59798098</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>207</integer>
				</dict>
			</dict>
			<key>3.7.7.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177826.05247098</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>211</integer>
				</dict>
			</dict>
			<key>3.7.8.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177858.91318899</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>215</integer>
				</dict>
			</dict>
			<key>3.7.8.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177914.20878202</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>219</integer>
				</dict>
			</dict>
			<key>3.7.8.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177948.96766901</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>223</integer>
				</dict>
			</dict>
			<key>3.7.8.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>522177995.42142498</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>227</integer>
				</dict>
			</dict>
			<key>3.7.8.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>522178026.858055</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>231</integer>
				</dict>
			</dict>
			<key>3.7.8.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>522178068.36372799</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>235</integer>
				</dict>
			</dict>
			<key>3.7.8.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>522178109.21403301</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>239</integer>
				</dict>
			</dict>
			<key>3.7.9.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522178171.34753698</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>243</integer>
				</dict>
			</dict>
			<key>3.7.9.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>522178297.34935099</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>247</integer>
				</dict>
			</dict>
			<key>3.7.9.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>522178460.399822</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>251</integer>
				</dict>
			</dict>
			<key>3.7.9.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>522178487.56145197</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>255</integer>
				</dict>
			</dict>
			<key>3.7.9.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>522179424.66155702</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>259</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>522182635.98692298</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>3.7.10.5.md</string>
		</array>
		<array>
			<string>3.7.5.0.1.md</string>
		</array>
		<array>
			<string>3.7.1.1.md</string>
		</array>
		<array>
			<string>3.7.1.0.1.md</string>
		</array>
		<array>
			<string>3.7.1.2.md</string>
		</array>
		<array>
			<string>3.7.1.3.md</string>
		</array>
		<array>
			<string>3.7.1.4.md</string>
		</array>
		<array>
			<string>3.7.1.5.md</string>
		</array>
		<array>
			<string>3.7.1.6.md</string>
		</array>
		<array>
			<string>3.7.1.7.md</string>
		</array>
		<array>
			<string>3.7.1.8.md</string>
		</array>
		<array>
			<string>3.7.1.9.md</string>
		</array>
		<array>
			<string>3.7.1.10.md</string>
		</array>
		<array>
			<string>3.7.1.11.md</string>
		</array>
		<array>
			<string>3.7.1.12.md</string>
		</array>
		<array>
			<string>3.7.1.13.md</string>
		</array>
		<array>
			<string>3.7.2.1.md</string>
		</array>
		<array>
			<string>3.7.2.2.md</string>
		</array>
		<array>
			<string>3.7.2.3.md</string>
		</array>
		<array>
			<string>3.7.3.1.md</string>
		</array>
		<array>
			<string>3.7.3.2.md</string>
		</array>
		<array>
			<string>3.7.3.3.md</string>
		</array>
		<array>
			<string>3.7.3.4.md</string>
		</array>
		<array>
			<string>3.7.3.5.md</string>
		</array>
		<array>
			<string>3.7.3.6.md</string>
		</array>
		<array>
			<string>3.7.4.1.md</string>
		</array>
		<array>
			<string>3.7.4.2.md</string>
		</array>
		<array>
			<string>3.7.4.3.md</string>
		</array>
		<array>
			<string>3.7.4.4.md</string>
		</array>
		<array>
			<string>3.7.4.5.md</string>
		</array>
		<array>
			<string>3.7.5.1.md</string>
		</array>
		<array>
			<string>3.7.5.2.md</string>
		</array>
		<array>
			<string>3.7.5.3.md</string>
		</array>
		<array>
			<string>3.7.5.4.md</string>
		</array>
		<array>
			<string>3.7.5.5.md</string>
		</array>
		<array>
			<string>3.7.5.6.md</string>
		</array>
		<array>
			<string>3.7.5.7.md</string>
		</array>
		<array>
			<string>3.7.5.8.md</string>
		</array>
		<array>
			<string>3.7.5.9.md</string>
		</array>
		<array>
			<string>3.7.5.10.md</string>
		</array>
		<array>
			<string>3.7.5.11.md</string>
		</array>
		<array>
			<string>3.7.5.12.md</string>
		</array>
		<array>
			<string>3.7.6.1.md</string>
		</array>
		<array>
			<string>3.7.6.2.md</string>
		</array>
		<array>
			<string>3.7.6.3.md</string>
		</array>
		<array>
			<string>3.7.6.4.md</string>
		</array>
		<array>
			<string>3.7.6.5.md</string>
		</array>
		<array>
			<string>3.7.6.6.md</string>
		</array>
		<array>
			<string>3.7.6.7.md</string>
		</array>
		<array>
			<string>3.7.6.8.md</string>
		</array>
		<array>
			<string>3.7.7.1.md</string>
		</array>
		<array>
			<string>3.7.7.2.md</string>
		</array>
		<array>
			<string>3.7.7.3.md</string>
		</array>
		<array>
			<string>3.7.7.4.md</string>
		</array>
		<array>
			<string>3.7.7.5.md</string>
		</array>
		<array>
			<string>3.7.7.6.md</string>
		</array>
		<array>
			<string>3.7.8.1.md</string>
		</array>
		<array>
			<string>3.7.8.2.md</string>
		</array>
		<array>
			<string>3.7.8.3.md</string>
		</array>
		<array>
			<string>3.7.8.4.md</string>
		</array>
		<array>
			<string>3.7.8.5.md</string>
		</array>
		<array>
			<string>3.7.8.6.md</string>
		</array>
		<array>
			<string>3.7.8.7.md</string>
		</array>
		<array>
			<string>3.7.9.1.md</string>
		</array>
		<array>
			<string>3.7.9.2.md</string>
		</array>
		<array>
			<string>3.7.9.3.md</string>
		</array>
		<array>
			<string>3.7.9.4.md</string>
		</array>
		<array>
			<string>3.7.9.5.md</string>
		</array>
		<array>
			<string>3.7.10.1.md</string>
		</array>
		<array>
			<string>3.7.10.2.md</string>
		</array>
		<array>
			<string>3.7.10.3.md</string>
		</array>
		<array>
			<string>3.7.10.4.md</string>
		</array>
		<array>
			<string>3.7.10.1 - 2.md</string>
		</array>
		<array>
			<string>3.7.10.6.md</string>
		</array>
		<array>
			<string>3.7.11.1.md</string>
		</array>
		<array>
			<string>3.7.12.1.md</string>
		</array>
		<array>
			<string>3.7.13.1.md</string>
		</array>
		<array>
			<string>3.7.13.2.md</string>
		</array>
		<array>
			<string>3.7.13.3.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>323</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
