<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>9.1.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>527526871.21801198</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>9.1.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>527527356.26273501</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>9.1.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>527527378.18805701</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>9.2.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>527527461.92610902</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>9.2.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>527527519.63220602</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>9.2.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>527527541.424676</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>9.2.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>527527572.801691</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>9.2.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>527527605.42933601</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>9.3.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>527527685.24325502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>9.3.10.md</key>
			<dict>
				<key>lastModification</key>
				<real>527528047.61000502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>9.3.11.md</key>
			<dict>
				<key>lastModification</key>
				<real>527528082.568964</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>9.3.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>527527835.413284</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>9.3.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>527527852.14089602</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>9.3.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>527527878.30838299</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>9.3.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>527527905.51609498</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>9.3.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>527527922.79405099</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>9.3.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>527527950.29659897</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>59</integer>
				</dict>
			</dict>
			<key>9.3.8.md</key>
			<dict>
				<key>lastModification</key>
				<real>527527982.19930297</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>63</integer>
				</dict>
			</dict>
			<key>9.3.9.md</key>
			<dict>
				<key>lastModification</key>
				<real>527528014.86026299</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>9.4.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>527528130.109918</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>79</integer>
				</dict>
			</dict>
			<key>9.4.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>527528200.95657599</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>83</integer>
				</dict>
			</dict>
			<key>9.4.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>527528227.85556799</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>9.5.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>527528272.15488303</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>91</integer>
				</dict>
			</dict>
			<key>9.5.10.md</key>
			<dict>
				<key>lastModification</key>
				<real>527529118.64351702</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>127</integer>
				</dict>
			</dict>
			<key>9.5.11.md</key>
			<dict>
				<key>lastModification</key>
				<real>527529156.845447</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>131</integer>
				</dict>
			</dict>
			<key>9.5.12.md</key>
			<dict>
				<key>lastModification</key>
				<real>527529191.6268</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>135</integer>
				</dict>
			</dict>
			<key>9.5.13.md</key>
			<dict>
				<key>lastModification</key>
				<real>527529220.19494498</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>139</integer>
				</dict>
			</dict>
			<key>9.5.14.md</key>
			<dict>
				<key>lastModification</key>
				<real>527529246.28934002</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>143</integer>
				</dict>
			</dict>
			<key>9.5.15.md</key>
			<dict>
				<key>lastModification</key>
				<real>527529277.27493203</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>147</integer>
				</dict>
			</dict>
			<key>9.5.16.md</key>
			<dict>
				<key>lastModification</key>
				<real>527529307.23299301</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>151</integer>
				</dict>
			</dict>
			<key>9.5.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>527528330.26206702</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>95</integer>
				</dict>
			</dict>
			<key>9.5.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>527528357.25453401</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>99</integer>
				</dict>
			</dict>
			<key>9.5.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>527528381.30171102</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>9.5.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>527528409.95243299</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>107</integer>
				</dict>
			</dict>
			<key>9.5.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>527528446.40223199</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>111</integer>
				</dict>
			</dict>
			<key>9.5.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>527528472.80132002</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>115</integer>
				</dict>
			</dict>
			<key>9.5.8.md</key>
			<dict>
				<key>lastModification</key>
				<real>527529048.60022998</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>119</integer>
				</dict>
			</dict>
			<key>9.5.9.md</key>
			<dict>
				<key>lastModification</key>
				<real>527529081.05050403</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>123</integer>
				</dict>
			</dict>
			<key>9.6.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>527529338.92180699</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>155</integer>
				</dict>
			</dict>
			<key>9.6.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>527553920.79015398</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>159</integer>
				</dict>
			</dict>
			<key>9.6.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>527553959.824956</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>163</integer>
				</dict>
			</dict>
			<key>9.6.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>527553987.88804001</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>167</integer>
				</dict>
			</dict>
			<key>9.7.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>527554023.37235498</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>171</integer>
				</dict>
			</dict>
			<key>9.7.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>527554079.82827199</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>175</integer>
				</dict>
			</dict>
			<key>9.7.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>527554111.282305</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>179</integer>
				</dict>
			</dict>
			<key>9.7.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>527554140.586761</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>183</integer>
				</dict>
			</dict>
			<key>9.7.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>527554168.91374397</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>187</integer>
				</dict>
			</dict>
			<key>9.7.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>527554200.12488002</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>191</integer>
				</dict>
			</dict>
			<key>9.7.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>527554240.97495598</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>195</integer>
				</dict>
			</dict>
			<key>9.8.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>527554278.44587201</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>199</integer>
				</dict>
			</dict>
			<key>9.8.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>527554312.34897101</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>203</integer>
				</dict>
			</dict>
			<key>9.8.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>527554344.16743797</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>207</integer>
				</dict>
			</dict>
			<key>9.8.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>527554392.32983202</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>211</integer>
				</dict>
			</dict>
			<key>9.8.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>527554424.363778</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>215</integer>
				</dict>
			</dict>
			<key>9.8.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>527554460.77050799</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>219</integer>
				</dict>
			</dict>
			<key>9.8.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>527554488.76661998</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>223</integer>
				</dict>
			</dict>
			<key>9.8.8.md</key>
			<dict>
				<key>lastModification</key>
				<real>527554519.96835101</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>227</integer>
				</dict>
			</dict>
			<key>9.8.9.md</key>
			<dict>
				<key>lastModification</key>
				<real>527554569.68321002</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>231</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>9.1.1.md</string>
		</array>
		<array>
			<string>9.1.2.md</string>
		</array>
		<array>
			<string>9.1.3.md</string>
		</array>
		<array>
			<string>9.2.1.md</string>
		</array>
		<array>
			<string>9.2.2.md</string>
		</array>
		<array>
			<string>9.2.3.md</string>
		</array>
		<array>
			<string>9.2.4.md</string>
		</array>
		<array>
			<string>9.2.5.md</string>
		</array>
		<array>
			<string>9.3.1.md</string>
		</array>
		<array>
			<string>9.3.2.md</string>
		</array>
		<array>
			<string>9.3.3.md</string>
		</array>
		<array>
			<string>9.3.4.md</string>
		</array>
		<array>
			<string>9.3.5.md</string>
		</array>
		<array>
			<string>9.3.6.md</string>
		</array>
		<array>
			<string>9.3.7.md</string>
		</array>
		<array>
			<string>9.3.8.md</string>
		</array>
		<array>
			<string>9.3.9.md</string>
		</array>
		<array>
			<string>9.3.10.md</string>
		</array>
		<array>
			<string>9.3.11.md</string>
		</array>
		<array>
			<string>9.4.1.md</string>
		</array>
		<array>
			<string>9.4.2.md</string>
		</array>
		<array>
			<string>9.4.3.md</string>
		</array>
		<array>
			<string>9.5.1.md</string>
		</array>
		<array>
			<string>9.5.2.md</string>
		</array>
		<array>
			<string>9.5.3.md</string>
		</array>
		<array>
			<string>9.5.4.md</string>
		</array>
		<array>
			<string>9.5.5.md</string>
		</array>
		<array>
			<string>9.5.6.md</string>
		</array>
		<array>
			<string>9.5.7.md</string>
		</array>
		<array>
			<string>9.5.8.md</string>
		</array>
		<array>
			<string>9.5.9.md</string>
		</array>
		<array>
			<string>9.5.10.md</string>
		</array>
		<array>
			<string>9.5.11.md</string>
		</array>
		<array>
			<string>9.5.12.md</string>
		</array>
		<array>
			<string>9.5.13.md</string>
		</array>
		<array>
			<string>9.5.14.md</string>
		</array>
		<array>
			<string>9.5.15.md</string>
		</array>
		<array>
			<string>9.5.16.md</string>
		</array>
		<array>
			<string>9.6.1.md</string>
		</array>
		<array>
			<string>9.6.2.md</string>
		</array>
		<array>
			<string>9.6.3.md</string>
		</array>
		<array>
			<string>9.6.4.md</string>
		</array>
		<array>
			<string>9.7.1.md</string>
		</array>
		<array>
			<string>9.7.2.md</string>
		</array>
		<array>
			<string>9.7.3.md</string>
		</array>
		<array>
			<string>9.7.4.md</string>
		</array>
		<array>
			<string>9.7.5.md</string>
		</array>
		<array>
			<string>9.7.6.md</string>
		</array>
		<array>
			<string>9.7.7.md</string>
		</array>
		<array>
			<string>9.8.1.md</string>
		</array>
		<array>
			<string>9.8.2.md</string>
		</array>
		<array>
			<string>9.8.3.md</string>
		</array>
		<array>
			<string>9.8.4.md</string>
		</array>
		<array>
			<string>9.8.5.md</string>
		</array>
		<array>
			<string>9.8.6.md</string>
		</array>
		<array>
			<string>9.8.7.md</string>
		</array>
		<array>
			<string>9.8.8.md</string>
		</array>
		<array>
			<string>9.8.9.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>232</integer>
		</dict>
	</dict>
</dict>
</plist>
