<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3.10.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>523757581.04234803</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>3.10.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>523757723.84013301</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>3.10.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>523757761.59010798</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>3.10.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>523757820.58274698</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>3.10.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>523757854.73346502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>3.10.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>523757912.03928101</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>3.10.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>523757940.87071598</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>27</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>3.10.1.md</string>
		</array>
		<array>
			<string>3.10.2.md</string>
		</array>
		<array>
			<string>3.10.3.md</string>
		</array>
		<array>
			<string>3.10.4.md</string>
		</array>
		<array>
			<string>3.10.5.md</string>
		</array>
		<array>
			<string>3.10.6.md</string>
		</array>
		<array>
			<string>3.10.7.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>28</integer>
		</dict>
	</dict>
</dict>
</plist>
