{% if page.sidebar == "home_sidebar" %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}

{% elsif page.sidebar == "layer2_sidebar" %}
{% assign sidebar = site.data.sidebars.layer2_sidebar.entries %}

{% elsif page.sidebar == "general-routing_sidebar" %}
{% assign sidebar = site.data.sidebars.general-routing_sidebar.entries %}

{% elsif page.sidebar == "rip_sidebar" %}
{% assign sidebar = site.data.sidebars.rip_sidebar.entries %}

{% elsif page.sidebar == "eigrp_sidebar" %}
{% assign sidebar = site.data.sidebars.eigrp_sidebar.entries %}

{% elsif page.sidebar == "ospf_sidebar" %}
{% assign sidebar = site.data.sidebars.ospf_sidebar.entries %}

{% elsif page.sidebar == "bgp_sidebar" %}
{% assign sidebar = site.data.sidebars.bgp_sidebar.entries %}

{% elsif page.sidebar == "redistribution_sidebar" %}
{% assign sidebar = site.data.sidebars.redistribution_sidebar.entries %}

{% elsif page.sidebar == "isis_sidebar" %}
{% assign sidebar = site.data.sidebars.isis_sidebar.entries %}

{% elsif page.sidebar == "multicast_sidebar" %}
{% assign sidebar = site.data.sidebars.multicast_sidebar.entries %}


{% else %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}
{% endif %}



{% comment %}
sidebar configuration for print files
{% endcomment %}

{% if site.product == "layer2" %}
{% assign sidebar_pdf = site.data.sidebars.layer2_sidebar.entries %}
{% endif %}

{% if site.product == "general-routing" %}
{% assign sidebar_pdf = site.data.sidebars.general-routing_sidebar.entries %}
{% endif %}

{% if site.product == "rip" %}
{% assign sidebar_pdf = site.data.sidebars.rip_sidebar.entries %}
{% endif %}

{% if site.product == "eigrp" %}
{% assign sidebar_pdf = site.data.sidebars.eigrp_sidebar.entries %}
{% endif %}

{% if site.product == "ospf" %}
{% assign sidebar_pdf = site.data.sidebars.ospf_sidebar.entries %}
{% endif %}

{% if site.product == "bgp" %}
{% assign sidebar_pdf = site.data.sidebars.bgp_sidebar.entries %}
{% endif %}

{% if site.product == "redistribution" %}
{% assign sidebar_pdf = site.data.sidebars.redistribution_sidebar.entries %}
{% endif %}

{% if site.product == "isis" %}
{% assign sidebar_pdf = site.data.sidebars.isis_sidebar.entries %}
{% endif %}

{% if site.product == "multicast" %}
{% assign sidebar_pdf = site.data.sidebars.multicast_sidebar.entries %}
{% endif %}
