<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>6.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>526163410.57211298</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>6.10.md</key>
			<dict>
				<key>lastModification</key>
				<real>526163865.36326897</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>6.11.md</key>
			<dict>
				<key>lastModification</key>
				<real>526163902.33442003</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>6.12.md</key>
			<dict>
				<key>lastModification</key>
				<real>526163930.43722397</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>49</integer>
				</dict>
			</dict>
			<key>6.13.md</key>
			<dict>
				<key>lastModification</key>
				<real>526163961.82362503</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>53</integer>
				</dict>
			</dict>
			<key>6.14.md</key>
			<dict>
				<key>lastModification</key>
				<real>526163997.9684</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>57</integer>
				</dict>
			</dict>
			<key>6.15.md</key>
			<dict>
				<key>lastModification</key>
				<real>526164043.96630001</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>61</integer>
				</dict>
			</dict>
			<key>6.16.md</key>
			<dict>
				<key>lastModification</key>
				<real>526164078.50450099</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>65</integer>
				</dict>
			</dict>
			<key>6.17.md</key>
			<dict>
				<key>lastModification</key>
				<real>526164137.08555299</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>69</integer>
				</dict>
			</dict>
			<key>6.18.md</key>
			<dict>
				<key>lastModification</key>
				<real>526164168.13848197</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>73</integer>
				</dict>
			</dict>
			<key>6.19.md</key>
			<dict>
				<key>lastModification</key>
				<real>526164196.92555702</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>77</integer>
				</dict>
			</dict>
			<key>6.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>526163520.06479597</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>6.20.md</key>
			<dict>
				<key>lastModification</key>
				<real>526164228.904221</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>81</integer>
				</dict>
			</dict>
			<key>6.21.md</key>
			<dict>
				<key>lastModification</key>
				<real>526164270.12893301</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>85</integer>
				</dict>
			</dict>
			<key>6.22.md</key>
			<dict>
				<key>lastModification</key>
				<real>526164301.45347601</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>89</integer>
				</dict>
			</dict>
			<key>6.23.md</key>
			<dict>
				<key>lastModification</key>
				<real>526164344.03646803</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>93</integer>
				</dict>
			</dict>
			<key>6.24.md</key>
			<dict>
				<key>lastModification</key>
				<real>526164416.63002199</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>97</integer>
				</dict>
			</dict>
			<key>6.25.md</key>
			<dict>
				<key>lastModification</key>
				<real>526164447.17970002</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>6.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>526163567.73989099</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>6.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>526163600.89692801</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>6.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>526163639.437644</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>6.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>526163676.96359599</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>6.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>526163730.57696402</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>6.8.md</key>
			<dict>
				<key>lastModification</key>
				<real>526163807.28429502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>6.9.md</key>
			<dict>
				<key>lastModification</key>
				<real>526163833.32844502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>37</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>6.1.md</string>
		</array>
		<array>
			<string>6.2.md</string>
		</array>
		<array>
			<string>6.3.md</string>
		</array>
		<array>
			<string>6.4.md</string>
		</array>
		<array>
			<string>6.5.md</string>
		</array>
		<array>
			<string>6.6.md</string>
		</array>
		<array>
			<string>6.7.md</string>
		</array>
		<array>
			<string>6.8.md</string>
		</array>
		<array>
			<string>6.9.md</string>
		</array>
		<array>
			<string>6.10.md</string>
		</array>
		<array>
			<string>6.11.md</string>
		</array>
		<array>
			<string>6.12.md</string>
		</array>
		<array>
			<string>6.13.md</string>
		</array>
		<array>
			<string>6.14.md</string>
		</array>
		<array>
			<string>6.15.md</string>
		</array>
		<array>
			<string>6.16.md</string>
		</array>
		<array>
			<string>6.17.md</string>
		</array>
		<array>
			<string>6.18.md</string>
		</array>
		<array>
			<string>6.19.md</string>
		</array>
		<array>
			<string>6.20.md</string>
		</array>
		<array>
			<string>6.21.md</string>
		</array>
		<array>
			<string>6.22.md</string>
		</array>
		<array>
			<string>6.23.md</string>
		</array>
		<array>
			<string>6.24.md</string>
		</array>
		<array>
			<string>6.25.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>102</integer>
		</dict>
	</dict>
</dict>
</plist>
