<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3.5.1.0.99.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>516407845.19900799</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3.5.1.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>516407877.90966898</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>3.5.1.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>516408757.57991397</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>3.5.1.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>516423006.71889001</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>3.5.1.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>516424983.82481402</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>3.5.1.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>516428773.23514301</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>3.5.1.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>516429802.70376498</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>3.5.2.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>516500215.67751402</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>3.5.2.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>517001650.120112</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>3.5.2.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>517108630.01231098</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>35</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>516409136.26544899</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>3.5.2.3.md</string>
		</array>
		<array>
			<string>3.5.2.2.md</string>
		</array>
		<array>
			<string>3.5.2.1.md</string>
		</array>
		<array>
			<string>3.5.1.6.md</string>
		</array>
		<array>
			<string>3.5.1.5.md</string>
		</array>
		<array>
			<string>3.5.1.4.md</string>
		</array>
		<array>
			<string>3.5.1.3.md</string>
		</array>
		<array>
			<string>3.5.1.2.md</string>
		</array>
		<array>
			<string>3.5.1.0.99.1.md</string>
		</array>
		<array>
			<string>3.5.1.1.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>36</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
