<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>8.1.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>526172388.086667</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>8.1.10.md</key>
			<dict>
				<key>lastModification</key>
				<real>526172760.31654602</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>8.1.11.md</key>
			<dict>
				<key>lastModification</key>
				<real>526172792.25243098</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>8.1.12.md</key>
			<dict>
				<key>lastModification</key>
				<real>526172824.74796999</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>8.1.13.md</key>
			<dict>
				<key>lastModification</key>
				<real>526172857.43277502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>8.1.14.md</key>
			<dict>
				<key>lastModification</key>
				<real>526172891.63173002</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>8.1.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>526172516.15570003</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>8.1.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>526172542.47016102</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>8.1.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>526172569.55711001</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>8.1.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>526172595.40450197</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>8.1.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>526172623.37120998</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>8.1.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>526172662.217278</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>8.1.8.md</key>
			<dict>
				<key>lastModification</key>
				<real>526172689.50023699</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>8.1.9.md</key>
			<dict>
				<key>lastModification</key>
				<real>526172720.55174702</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>8.2.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175180.07970202</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>59</integer>
				</dict>
			</dict>
			<key>8.2.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175238.99065697</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>63</integer>
				</dict>
			</dict>
			<key>8.2.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175271.33828503</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>8.2.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175307.55366498</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>8.2.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175338.67675</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>8.2.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175388.71509898</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>79</integer>
				</dict>
			</dict>
			<key>8.2.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175420.67776102</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>83</integer>
				</dict>
			</dict>
			<key>8.3.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175465.62436903</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>8.3.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175495.17138398</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>91</integer>
				</dict>
			</dict>
			<key>8.3.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175523.513695</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>95</integer>
				</dict>
			</dict>
			<key>8.3.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175553.12219697</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>99</integer>
				</dict>
			</dict>
			<key>8.4.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175591.37937897</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>8.4.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175679.84264499</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>109</integer>
				</dict>
			</dict>
			<key>8.4.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175706.95468199</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>113</integer>
				</dict>
			</dict>
			<key>8.4.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175736.58705097</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>117</integer>
				</dict>
			</dict>
			<key>8.4.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175763.08241802</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>121</integer>
				</dict>
			</dict>
			<key>8.4.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175790.84121698</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>125</integer>
				</dict>
			</dict>
			<key>8.4.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175835.70939499</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>129</integer>
				</dict>
			</dict>
			<key>8.5.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175912.62794697</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>135</integer>
				</dict>
			</dict>
			<key>8.5.10.md</key>
			<dict>
				<key>lastModification</key>
				<real>526176180.24378997</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>171</integer>
				</dict>
			</dict>
			<key>8.5.11.md</key>
			<dict>
				<key>lastModification</key>
				<real>526176201.56285101</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>175</integer>
				</dict>
			</dict>
			<key>8.5.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175965.48871303</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>139</integer>
				</dict>
			</dict>
			<key>8.5.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>526175994.26573998</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>143</integer>
				</dict>
			</dict>
			<key>8.5.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>526176025.45153201</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>147</integer>
				</dict>
			</dict>
			<key>8.5.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>526176051.830706</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>151</integer>
				</dict>
			</dict>
			<key>8.5.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>526176076.55193299</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>155</integer>
				</dict>
			</dict>
			<key>8.5.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>526176104.95090997</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>159</integer>
				</dict>
			</dict>
			<key>8.5.8.md</key>
			<dict>
				<key>lastModification</key>
				<real>526176134.20549899</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>163</integer>
				</dict>
			</dict>
			<key>8.5.9.md</key>
			<dict>
				<key>lastModification</key>
				<real>526176159.79651999</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>167</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>8.1.1.md</string>
		</array>
		<array>
			<string>8.1.2.md</string>
		</array>
		<array>
			<string>8.1.3.md</string>
		</array>
		<array>
			<string>8.1.4.md</string>
		</array>
		<array>
			<string>8.1.5.md</string>
		</array>
		<array>
			<string>8.1.6.md</string>
		</array>
		<array>
			<string>8.1.7.md</string>
		</array>
		<array>
			<string>8.1.8.md</string>
		</array>
		<array>
			<string>8.1.9.md</string>
		</array>
		<array>
			<string>8.1.10.md</string>
		</array>
		<array>
			<string>8.1.11.md</string>
		</array>
		<array>
			<string>8.1.12.md</string>
		</array>
		<array>
			<string>8.1.13.md</string>
		</array>
		<array>
			<string>8.1.14.md</string>
		</array>
		<array>
			<string>8.2.1.md</string>
		</array>
		<array>
			<string>8.2.2.md</string>
		</array>
		<array>
			<string>8.2.3.md</string>
		</array>
		<array>
			<string>8.2.4.md</string>
		</array>
		<array>
			<string>8.2.5.md</string>
		</array>
		<array>
			<string>8.2.6.md</string>
		</array>
		<array>
			<string>8.2.7.md</string>
		</array>
		<array>
			<string>8.3.1.md</string>
		</array>
		<array>
			<string>8.3.2.md</string>
		</array>
		<array>
			<string>8.3.3.md</string>
		</array>
		<array>
			<string>8.3.4.md</string>
		</array>
		<array>
			<string>8.4.1.md</string>
		</array>
		<array>
			<string>8.4.2.md</string>
		</array>
		<array>
			<string>8.4.3.md</string>
		</array>
		<array>
			<string>8.4.4.md</string>
		</array>
		<array>
			<string>8.4.5.md</string>
		</array>
		<array>
			<string>8.4.6.md</string>
		</array>
		<array>
			<string>8.4.7.md</string>
		</array>
		<array>
			<string>8.5.1.md</string>
		</array>
		<array>
			<string>8.5.2.md</string>
		</array>
		<array>
			<string>8.5.3.md</string>
		</array>
		<array>
			<string>8.5.4.md</string>
		</array>
		<array>
			<string>8.5.5.md</string>
		</array>
		<array>
			<string>8.5.6.md</string>
		</array>
		<array>
			<string>8.5.7.md</string>
		</array>
		<array>
			<string>8.5.8.md</string>
		</array>
		<array>
			<string>8.5.9.md</string>
		</array>
		<array>
			<string>8.5.10.md</string>
		</array>
		<array>
			<string>8.5.11.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>176</integer>
		</dict>
	</dict>
</dict>
</plist>
