<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>4.1.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>524100441.69641203</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>4.1.10.md</key>
			<dict>
				<key>lastModification</key>
				<real>524100778.15589601</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>4.1.11.md</key>
			<dict>
				<key>lastModification</key>
				<real>524100808.74717498</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>4.1.12.md</key>
			<dict>
				<key>lastModification</key>
				<real>524100840.52024001</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>49</integer>
				</dict>
			</dict>
			<key>4.1.13.md</key>
			<dict>
				<key>lastModification</key>
				<real>524100905.65610898</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>53</integer>
				</dict>
			</dict>
			<key>4.1.14.md</key>
			<dict>
				<key>lastModification</key>
				<real>524100979.44732702</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>57</integer>
				</dict>
			</dict>
			<key>4.1.15.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101009.499946</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>61</integer>
				</dict>
			</dict>
			<key>4.1.16.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101041.06241202</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>65</integer>
				</dict>
			</dict>
			<key>4.1.17.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101072.16916001</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>69</integer>
				</dict>
			</dict>
			<key>4.1.18.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101116.06147099</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>73</integer>
				</dict>
			</dict>
			<key>4.1.19 - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101148.40814799</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>77</integer>
				</dict>
			</dict>
			<key>4.1.19.md</key>
			<dict>
				<key>lastModification</key>
				<real>524100747.41197199</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>4.1.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>524100522.07662201</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>4.1.20.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101183.47103399</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>81</integer>
				</dict>
			</dict>
			<key>4.1.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>524100548.82630801</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>4.1.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>524100575.37093699</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>4.1.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>524100604.62588698</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>4.1.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>524100636.46649599</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>4.1.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>524100668.83326101</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>4.1.8.md</key>
			<dict>
				<key>lastModification</key>
				<real>524100703.97183299</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>4.2.0.md</key>
			<dict>
				<key>lastModification</key>
				<real>524104146.58823198</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>129</integer>
				</dict>
			</dict>
			<key>4.2.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101242.90718699</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>85</integer>
				</dict>
			</dict>
			<key>4.2.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101299.97825003</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>89</integer>
				</dict>
			</dict>
			<key>4.2.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101331.52895099</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>93</integer>
				</dict>
			</dict>
			<key>4.2.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101379.09748</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>97</integer>
				</dict>
			</dict>
			<key>4.2.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101409.59093499</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>4.2.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101472.79723901</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>105</integer>
				</dict>
			</dict>
			<key>4.3.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101508.21423298</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>109</integer>
				</dict>
			</dict>
			<key>4.3.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101570.56931502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>113</integer>
				</dict>
			</dict>
			<key>4.3.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101574.52992398</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>117</integer>
				</dict>
			</dict>
			<key>4.3.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101639.669276</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>121</integer>
				</dict>
			</dict>
			<key>4.3.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>524101670.97125298</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>125</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>4.1.1.md</string>
		</array>
		<array>
			<string>4.1.2.md</string>
		</array>
		<array>
			<string>4.1.3.md</string>
		</array>
		<array>
			<string>4.1.4.md</string>
		</array>
		<array>
			<string>4.1.5.md</string>
		</array>
		<array>
			<string>4.1.6.md</string>
		</array>
		<array>
			<string>4.1.7.md</string>
		</array>
		<array>
			<string>4.1.8.md</string>
		</array>
		<array>
			<string>4.1.19.md</string>
		</array>
		<array>
			<string>4.1.10.md</string>
		</array>
		<array>
			<string>4.1.11.md</string>
		</array>
		<array>
			<string>4.1.12.md</string>
		</array>
		<array>
			<string>4.1.13.md</string>
		</array>
		<array>
			<string>4.1.14.md</string>
		</array>
		<array>
			<string>4.1.15.md</string>
		</array>
		<array>
			<string>4.1.16.md</string>
		</array>
		<array>
			<string>4.1.17.md</string>
		</array>
		<array>
			<string>4.1.18.md</string>
		</array>
		<array>
			<string>4.1.19 - 2.md</string>
		</array>
		<array>
			<string>4.1.20.md</string>
		</array>
		<array>
			<string>4.2.1.md</string>
		</array>
		<array>
			<string>4.2.2.md</string>
		</array>
		<array>
			<string>4.2.3.md</string>
		</array>
		<array>
			<string>4.2.4.md</string>
		</array>
		<array>
			<string>4.2.5.md</string>
		</array>
		<array>
			<string>4.2.6.md</string>
		</array>
		<array>
			<string>4.3.1.md</string>
		</array>
		<array>
			<string>4.3.2.md</string>
		</array>
		<array>
			<string>4.3.3.md</string>
		</array>
		<array>
			<string>4.3.4.md</string>
		</array>
		<array>
			<string>4.3.5.md</string>
		</array>
		<array>
			<string>4.2.0.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>130</integer>
		</dict>
	</dict>
</dict>
</plist>
